body {
  font-family: sans-serif;
}

/* Container for products */
.products-container {
  width:80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

/* Individual product style */
.product-item {
  flex-basis: calc(40% - 3px);
  box-sizing: border-box;
  max-width: 300px;
  padding: 10px;
  border: 5px solid #666b64;
  border-radius: 5px;
}